h1 {
    font-family: sans-serif;
    color: dodgerblue;
    font-size: 80px;
    text-align: center;
}

body {
    background-color:floralwhite
}
p {
    color: cornflowerblue;
    font-family: serif;
    text-align:center;
}
